.mat-form-field.mat-focused .mat-form-field-label {
    color: white;
}

.mat-autocomplete-panel,
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background:rgb(84 63 184 / 72%);
}

.pull-rate-form {
    width: 50%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    @media (max-width: 900px) {
        width:70%;
    }
    @media (max-width: 700px) {
        width:90%;
    }
}

.footer {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    &__icon {
        padding: 10px;
        svg {
            fill: black;
            height: 30px;
            width: 30px;
            margin-bottom: 6px;
        }
    } 
    &__email {
        display: block;
        padding-bottom: 10px;
    }
}
