
<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex">
  
  <div role="main">
    <img src="assets/images/ws_logo.png" class="main-logo img-fluid">
    <h2 class="main-subheading">The 'unofficial' list of Weiss Schwarz case pull rates.</h2>
    <p class="text-center">Pull rates are never offically stated, but as a community we know they are consistent and mapped per set (minus the odd error case). </p>
    <p>Simply select/search for the set below to see the community agreed pull rates per case.</p>
  
      <form class="pull-rate-form">
        <mat-form-field class="example-full-width" appearance="fill" [style.width.%]="100">
          <mat-label>Search for a set</mat-label>
          <input type="text" matInput [formControl]="setSelector" [matAutocomplete]="auto"  #inputAutoComplete>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <button *ngIf="setSelector.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValues($event);">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
  
      <pull-rate-info [set]="setSelector.value"></pull-rate-info>
  
  </div>
  
  </div>
  
  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  <div class="footer">
    <a class="footer__icon" href="https://www.instagram.com/pokemike102/">
      <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Instagram Icon"></mat-icon>
    </a>
    <a class="footer__email" href="mailto:tcgcollectormike@gmail.com">
      tcgcollectormike@gmail.com
    </a>
  </div>
  </div>
  <!--Waves end-->
  
  </div>
  <!--Header ends-->


<router-outlet></router-outlet>
